
.contact-section h1 {
  text-align: center;
  color: rgb(255, 123, 0);
}
.contact-section {
  font-family: 'YourFontName', sans-serif; 
}

@media screen and (min-width: 769px) {
  .contact-section h1 {
    padding-top: 7%; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-section h1 {
    padding-top: 17%;
  }
}

@media screen and (max-width: 767px) {
  .contact-section h1 {
    padding-top: 10%;
  }

  .contact-section .containerr {
    flex-wrap: wrap;
  }

  .contact-section .left-side, 
  .contact-section .right-side {
    width: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
}

.contact-section .body-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-section .contact {
  text-align: center;
}

.contact-section .containerr {
  display: flex;
  flex-wrap: nowrap; 
}

.contact-section .content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.contact-section .left-side, .contact-section .right-side {
  flex: 1;
  margin: 0; 
}

.contact-section .left-side {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.contact-section .details i {
  font-size: 24px;
  color: #ff8800;
  margin-right: 10px;
}

.contact-section .details .topic {
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-section .details .text-one {
  line-height: 1.6;
}

.contact-section .topic-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-section p {
  margin-bottom: 20px;
}

.contact-section input, 
.contact-section select, 
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-section input[type="submit"] {
  background-color: #ff7b00;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Map section */
.contact-section .map_sec {
  width: 100%;
  position: relative;
}

.contact-section .map_inner h4 {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}

.contact-section .map_inner p {
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.contact-section .map_bind iframe {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  border: none;
}
