#footer {
    padding: 60px 0;
    background: #00b9ad !important;
}

#footer .container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 20px; 
}

#footer .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#footer .social {
    display: flex;
    justify-content: center; 
    margin-right: 50px; 
}

#footer ul.social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#footer ul.social li {
    margin-right: 15px;
}

#footer ul.social li a i {
    font-size: 25px;
    color: #000; 
    transition: 0.3s all ease;
}

#footer ul.social li a:hover i {
    color: #ff5e00; 
}

#footer .footer-logo {
    max-width: 300px;
    height: auto;
    margin-left: 50px; 
}

#footer .text-white {
    color: #000; 
    text-align: center; 
}

@media (max-width: 767px) {
    #footer .container {
        flex-direction: column;
        text-align: center;
    }

    #footer .row {
        flex-direction: column;
        align-items: center;
    }

    #footer .social,
    #footer .footer-logo {
        margin: 10px 0;
    }

    #footer .footer-logo {
        margin-left: auto;
        margin-right: auto;
    }

    #footer ul.social {
        justify-content: center;
    }
}
